body {
    background-color: #F2D6BD;
    align-items: center;
    display: block;
    justify-content: center;
    height: 100vh;
}
header {
    background-color: #F2D6BD;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
footer {

    background-color: #C21404;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;

}
.projets {
    margin: 0;
    background-color: white;
}
.projets h2 {
    font-size: 6vw;
    text-align: center;
}
.transition {
    margin: 0;
    padding: 0;
    border: none;

}
.introduction {
    margin-top: 0;
    background-color: white;
    color: #C21404;
    font-size: 6vw;
    padding: 25px;
}
.tweet {
    margin-top: 0;
    background-color: #F2D6BD;
    display: inline-block;
}
.tweet p, .projets p {
    color: black;
    padding: 20px;
    font-size: 5vw;


}
.tweet img {
    border: 3px solid #C21404;

}
.tweet_deux a,
.tweet_quatre a,
.tweet_trois a,
.tweet_un a {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;


}
.réseaux_sociaux {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.réseaux_sociaux a {
    padding: 5px;
}



