@font-face {
    font-family: 'HeeboRegular';
    src: url('fonts/Heebo-VariableFont_wght.woff') format('woff'),
    url('fonts/Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MavenProBold';
    src: url('fonts/MavenPro-VariableFont_wght.woff') format('woff'),
    url('css/fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F2D6BD;
    font-family: 'HeeboRegular', sans-serif;
    font-size: 2vw;
}
header {
    font-family: 'MavenProBold', sans-serif;
    color: #C21404;
    font-size: 4vw;
}



footer {
    font-family: 'MavenProBold', sans-serif;
    color: #F2D6BD;
}
nav  {
    font-size: 1vw;
}

h1, h2 {
    color: #FF591C;
    font-family: 'MavenProBold', sans-serif;
}

a {
    text-decoration: none;
    color: #C21404;
}